body{
	font-family: HelveticaNeue;
}
  .login-box{
	width: 388px;
	height: 529px;
	background-color: #ffffff;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
	margin: 140px auto 0;
	position: relative;

  }
  .btn{
	width: 344px;
	height: 45px;
	border-radius: 5px;
	background-color: #03cea0;
	display:flex;
	justify-content:center;
	margin: 5px 20px auto 25px;
	align-items:center;
	position: relative;
	position: absolute;
	bottom:30;
	cursor: pointer;
}
  .rectangle-2 {
	margin:0px 20px 45px 20px;
	padding:5px;
	border-radius: 4px;
	background-color: #ffffff;
  }
  .rectangle-2 input{
	border: 1px solid #ccc;
	box-shadow:none;
	width: 344px;
	height: 45px;
	padding-left: 4px;
	border-radius:4px;
  }
  .rectangle-2:hover{
	background-color:#ffffff;
  }
  .rectangle-2:hover input{
	border-color: #03cea0;
  }
	.Logo_ateliware {
		width: 229px;
		height: 76px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom:65px;
		padding-top: 50px;
	
	}
	.Digite-seu {
		width: 93px;
		height: 15px;
		font-size: 12px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #4a4a4a;
		margin-left:25px;

	}
		
	.txt-button {
		text-decoration: none;
		width: auto;
		height: 15px;
		font-size: 10pt;
		color: #ffffff;
	}
	.no-lembro-minha-sen {
		width: 142px;
		height: 14px;
		font-size: 12px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		text-decoration:none;
		color: #9b9b9b;
	}
	#esqueciSenha{
		float:right;
		
	}
	#txtEsqueceu{
		padding-top:20px;
		padding-bottom: 50px;
	}
	
	#instrucEnv{
		display: none;
	}
	#userWrong{
		display: none;
	}
	
	.but {
		width: 100%;
		border-radius: 5px;
		background-color: #03cea0;
		padding: 10px 20px;
		box-shadow: none;
		margin: 10px 20px auto 25px;
		text-decoration: none;
		font-style: normal;
		color: white;
		
	}
	.Esqueceu-sua-senha {
		width: 162px;
		height: 19px;
		font-size: 14pt;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #9b9b9b;
	}
	.E-mail-enviado {
		width: 259px;
		height: 17px;
		font-size: 12pt;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #03cea0;
	}
	.Confira-sua-caixa-de {
		width: 259px;
		height: 30px;
		font-size: 10pt;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: center;
		color: #4a4a4a;
		padding:5px;

	}
	.Usurio-ou-senha-inc {
		width: 167px;
		height: 12px;
		font-size: 13px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: #ee2b2b;
	}
